<h3>Product details are: </h3>

<table>
      <tr>
        <th scope="col">Id</th>
        <td>:</td>
        <td>{{product.productId}}</td>
      </tr>
      <tr >
        <th scope="col">Name</th>
        <td>:</td>
        <td>{{product.productName}}</td>
      </tr>
      <tr >
        <th scope="col">Price</th>
        <td>:</td>
        <td>{{product.productPrice}}</td>
      </tr>
      <tr >
        <th scope="col">Brand</th>
        <td>:</td>
        <td>{{product.brandName}}</td>
      </tr>
      <tr >
        <th scope="col">Manufacture Date</th>
        <td>:</td>
        <td>{{product.manufactureDate}}</td>
      </tr>
      <tr >
        <th scope="col">Expiry Date</th>
        <td>:</td>
        <td>{{product.expiryDate}}</td>
      </tr>
</table>


