<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <h2>Products</h2>
        <div class="d-flex">
          <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#productAddModal">Add Product</button>
        </div>
    </div>
</nav>


<table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">BrandName</th>
        <th scope="col">manufactureDate</th>
        <th scope="col">ExpiryDate</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products">
            <td>{{prod.productId}} &nbsp;</td>
            <td>{{prod.productName}} &nbsp;</td>
            <td>{{prod.productPrice}} &nbsp;</td>
            <td>{{prod.brandName}} &nbsp;</td>
            <td>{{prod.manufactureDate}} &nbsp;</td>
            <td>{{prod.expiryDate}} &nbsp;</td>
            <td>
              <button (click)="edit(prod)" class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#productUpdateModal">Edit</button>
              <button (click)="delete(prod)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
      </tbody>
      
</table>


<!-- add Product -->
<div class="modal fade" id="productAddModal" tabindex="-1" aria-labelledby="productAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productAddModalLabel">Add Product</h5>
          <button type="button" (click)="cancelBtn()"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="productP">
                <div class="mb-3">
                    <label for="productName" class="form-label">Product Name</label>
                    <input type="text" formControlName="productName" class="form-control" id="productName">
                    <div *ngIf="productP.controls.productName.errors && (productP.controls.productName.dirty || productP.controls.productName.touched)">
                        <div class="text-danger" *ngIf="productP.controls.productName.errors.required">
                            Name is required
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                  <label for="productPrice" class="form-label">Product Price</label>
                  <input type="number" formControlName="productPrice" class="form-control" id="productPrice" >
                  <div *ngIf="productP.controls.productPrice.errors && (productP.controls.productPrice.dirty || productP.controls.productPrice.touched)">
                    <div class="text-danger" *ngIf="productP.controls.productPrice.errors.required">
                        price is required
                    </div>
                </div>
                </div>
                <div class="mb-3">
                  <label for="brandName" class="form-label">Brand Name</label>
                  <input type="text" formControlName="brandName" class="form-control" id="brandName">
                  <div *ngIf="productP.controls.brandName.errors && (productP.controls.brandName.dirty || productP.controls.brandName.touched)">
                    <div class="text-danger" *ngIf="productP.controls.brandName.errors.required">
                        brand name is required
                    </div>
                </div>
                </div>
                 <div class="mb-3">
                  <label for="manufactureDate" class="form-label">Manufatcure Date</label>
                  <input type="date" formControlName="manufactureDate" class="form-control" id="manufactureDate">
                  <div *ngIf="productP.controls.manufactureDate.errors && (productP.controls.manufactureDate.dirty || productP.controls.manufactureDate.touched)">
                    <div class="text-danger" *ngIf="productP.controls.manufactureDate.errors.required">
                        manufacture date is required
                    </div>
                </div>
                </div>
                 <div class="mb-3">
                  <label for="expiryDate" class="form-label">Expiry Date</label>
                  <input type="date" formControlName="expiryDate" class="form-control" id="expiryDate">
                  <div *ngIf="productP.controls.expiryDate.errors && (productP.controls.expiryDate.dirty || productP.controls.expiryDate.touched)">
                    <div class="text-danger" *ngIf="productP.controls.expiryDate.errors.required">
                        expiry date is required
                    </div>
                </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cancelBtn()" id="cancel1" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="addProdut()" [disabled]="productP.invalid" class="btn btn-primary" >Add</button>
        </div>
      </div>
    </div>
  </div>


 <!-- update product -->
  <div class="modal fade" id="productUpdateModal" tabindex="-1" aria-labelledby="productUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productUpdateModalLabel">Update Product Details</h5>
          <button type="button" (click)="cancelBtn()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="productP">
                 <div class="mb-3">
                  <label for="productId" class="form-label">Product Id</label>
                  <input type="number" formControlName="productId" class="form-control" id="productId" readonly>
                </div>
               <div class="mb-3">
                  <label for="productName" class="form-label">Product Name</label>
                  <input type="text" formControlName="productName" class="form-control" id="productName">
                  <div *ngIf="productP.controls.productName.errors && (productP.controls.productName.dirty || productP.controls.productName.touched)">
                    <div class="text-danger" *ngIf="productP.controls.productName.errors.required">
                        Name is required
                    </div>
                </div>
                </div>
                <div class="mb-3">
                  <label for="productPrice" class="form-label">Product Price</label>
                  <input type="number" formControlName="productPrice" class="form-control" id="productPrice" >
                  <div *ngIf="productP.controls.productPrice.errors && (productP.controls.productPrice.dirty || productP.controls.productPrice.touched)">
                    <div class="text-danger" *ngIf="productP.controls.productPrice.errors.required">
                        price is required
                    </div>
                </div>
                </div>
                <div class="mb-3">
                  <label for="brandName" class="form-label">Brand Name</label>
                  <input type="text" formControlName="brandName" class="form-control" id="brandName">
                  <div *ngIf="productP.controls.brandName.errors && (productP.controls.brandName.dirty || productP.controls.brandName.touched)">
                    <div class="text-danger" *ngIf="productP.controls.brandName.errors.required">
                        brand name is required
                    </div>
                </div>
                </div>
                 <div class="mb-3">
                  <label for="manufactureDate" class="form-label">Manufatcure Date</label>
                  <input type="date" formControlName="manufactureDate" class="form-control" id="manufactureDate">
                </div>
                 <div class="mb-3">
                  <label for="expiryDate" class="form-label">Expiry Date</label>
                  <input type="date" formControlName="expiryDate" class="form-control" id="expiryDate">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cancelBtn()" id="cancel2" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="update()" [disabled]="productP.invalid" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div> 


  